*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

i{
  font-size: 20px;
  color: #919191;
}

.bg{
  position: relative;
}

.bg::before{
  content: "";
  display: block;
  height: 15vh;
  background-color: #009688;
}

.bg::after{
  content: "";
  display: block;
  height: 85vh;
  background-color: #DBDBD2;
}

.container{
  position: absolute;
  top: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  height: 95vh;
  width: 1300px;
  display: flex;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px 0 rgba(0,0,0,0.2);
}


/* -------------LEFT SIDE------------- */
.contacts{
  width: 450px;
  height: 100%;
}

.contacts > div{
  width: 100%;
}

/* BLOCCO USER E CONTACTLIST */
.user, .text{
  height: 60px;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.contactList{
  background-color: #fff;
  height: calc(100% - 190px);
  overflow: auto;
}

.contactList li{
  padding: 15px;
  height: 80px;
}

.contactList li:hover{
  background-color: #f5f5f5;
}

.contactList li:active{
  background-color: #ebebeb;
}

.contactList li:not(:first-child){
  border-top: 1px solid rgba(0,0,0,0.1);
}

.user > div:first-child, .contactList li{
  display: flex;
}

.user > div:first-child, .user > div:last-child, .user p, .contactList p, .contactSelected > div, .text > div{
  align-self: center;
}

.user img, .contactList img, .contactSelected img{
  height: 40px;
  border-radius: 50%;
  align-self: center;
}

.user p, .contactList p{
  display: inline-block;
  margin: 0 15px;
}

.user li, .contactSelected li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

/* BARRA CELESTE DELLE NOTIFICHE */
.notifications{
  height: 80px;
  background-color: #9de1fe;
  padding: 12.5px 20px;
  display: flex;
}

.notifications > div:first-child{
  align-self: center;
}

.notifications > div:last-child{
  align-self: center;
  margin: 0 10px;
}

.notifications i{
  color: #9de1fe;
  padding: 10px 8px;
  background-color: white;
  border-radius: 50%;
}

.notifications p{
  font-weight: bold;
}

.notifications a{
  color: #919191;
}

/* BARRA PER CERCARE I CONTATTI O LE CHAT */
.search{
  height: 50px;
  background-color: #f6f6f6;
  padding: 10px;
  display: flex;
}

.search > div{
  background-color: white;
  border-radius: 50px;
  align-self: center;
  width: 100%;
  padding: 8px;
}

.search i{
  font-size: 15px;
  margin: 3px 0 2px 20px;
}

.search input{
  width: 88%;
  float: right;
  border: none;
  outline: none;
  margin: 2.5px 0;
}


/* ---------------RIGHT SIDE--------------- */
.messages{
  width: 850px;
}

.contactSelected{
  height: 60px;
  background-color: #ededed;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.contactSelected > div > div{
  display: flex;
}

.contactSelected > div > div > div:last-child{
  margin: 0 15px;
  align-self: center;
}

.contactSelected > div:first-child{
  float: left;
}

.contactSelected > div:last-child{
  float: right;
  margin-top: 10px;
}

.contactSelected, .text{
  border-left: 1px solid rgba(0,0,0,0.08);
}

.text{
  border-top: 1px solid rgba(0,0,0,0.08);
}

.text > div:nth-child(2){
  width: 85%;
}

.text input{
  border: none;
  outline: none;
  width: 100%;
  border-radius: 50px;
  padding: 13px;
}

.text i{
  margin: 0 15px
}

.message{
  height: calc(100% - 120px);
  background-image: url('../img/mine.jpg');
}
